body{
    margin: 0;
    color: #9c9c9c;
}
.navigation {
    color: #fff;
    display:flex;
    width: 100vw;
    background-color: dodgerblue;
    align-items: center;
}
.navigation > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
    width: 80vw;
}

.form {
    display: flex;
    justify-content: center;
}

.form > div {
    border: 1px solid #9c9c9c;
    padding: 15px;
    border-radius: 5px;
}
